$color-primary: #FF9900;
$color-additional: #FF7549;
$color-background-light: #ffffff;
$color-baground-contact-us: #FFEEE1;
$color-link: #1943EF;
$color-tag: #f5f5f5;
$color-text: #544837;
$color-heading: #2F281E;
$color-button-border: #BCD0E5;
$color-button-ligth-text: #173A56;
$color-button-ligth-hover-bg: #BCD0E5;
$color-button-colored-text: #FFFFFF;

/* цвет иконок*/
$color-violet: #7752BE;
$color-yellow: #FAB005;
$color-red: #F03E3D;
$color-blue: #4DADF7;

/* ширина экранов*/
$content-width: 1197px; 

/* текст */
$base-font: "Open sans", Verdana, sans-serif;